@use "/src/styles/mixin";

.container {
  border: 1px solid black;
  padding: 1em;
  margin: 1em;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  .form {
    margin: 10px 0;
    display: flex;
    flex-direction: column;
    width: 90%;
    padding: 1em;
    .picture {
      margin: auto;
    }
    .date {
      margin: auto;
      width: 100%;
      display: flex;
      justify-content: space-between;
      padding: 1em;
      label {
        margin: 1em 0;
      }
      @include mixin.respond(tablet) {
        flex-direction: column;
      }
    }
  }
}
